* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('../images/bg2.png');
    background-attachment: fixed; 
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pokedex {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 20px 15px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-size: 2.5rem;
    font-weight: 900;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    border-radius: 20px;
    transition: transform .2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.error-message {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    font-size: 3rem;
    border-radius: 5px;
    text-align: center;
}